{
    "arrowParens": "always",
    "bracketSpacing": true,
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 100,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "vueIndentScriptAndStyle": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "strict",
    "bracketSameLine": false,
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "embeddedLanguageFormatting": "auto"
}
