@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red-primary: #ff0000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}

html {
    @apply scroll-smooth h-full;
    overflow: hidden;
}

body {
    font-family: 'Onest', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    @apply h-full overflow-hidden;
}

/* Mount point for Nuxt app - should fill viewport */
#__nuxt {
    @apply h-full;
}

.v-popper__inner {
    @apply bg-gray-900 text-white py-2.5 px-3 text-body rounded;
}

.Vue-Toastification__toast {
}

.Vue-Toastification__toast--default.my-toast {
    @apply bg-white p-0 bg-transparent rounded-sm;
    font-family: 'Onest', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Applied to the toast body when using regular strings as content */
.Vue-Toastification__toast-body.my-toast-body {
}
.v-popper--theme-phone-dropdown {
    @apply rounded-md;
}

.v-popper--theme-phone-dropdown .v-popper__inner {
    background: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    z-index: 40;
    @apply rounded-md;
}

.v-popper--theme-phone-dropdown .v-popper__arrow-outer,
.v-popper--theme-phone-dropdown .v-popper__arrow-inner {
    display: none !important;
    @apply rounded-md;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

.layout-enter-active,
.layout-leave-active {
    transition:
        opacity 0.3s,
        transform 0.3s;
}

.layout-enter-from,
.layout-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}

.loader {
    display: block;
    position: relative;
    @apply rounded-full;
    height: 20px;
    width: 140px;
    background-image:
        linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0),
        linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position:
        0 0,
        40px 0,
        80px 0,
        120px 0;
    animation: pgfill 1s linear infinite;
}

.loader-btn {
    @apply w-4 h-4;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, white) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
        radial-gradient(
            farthest-side,
            #0000 calc(100% - var(--b) - 1px),
            #000 calc(100% - var(--b))
        );
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l4 1s infinite steps(10);
}

@keyframes l4 {
    to {
        transform: rotate(1turn);
    }
}

@keyframes pgfill {
    0% {
        background-image:
            linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0),
            linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
    }
    25% {
        background-image:
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0),
            linear-gradient(#fff 20px, transparent 0);
    }
    50% {
        background-image:
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(#fff 20px, transparent 0), linear-gradient(#fff 20px, transparent 0);
    }
    75% {
        background-image:
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(#fff 20px, transparent 0);
    }
    100% {
        background-image:
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(var(--red-primary) 20px, transparent 0),
            linear-gradient(var(--red-primary) 20px, transparent 0);
    }
}
