/* Higher specificity and !important for global application */
*::-webkit-scrollbar {
    @apply h-auto w-2;
}

*::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-tl-md rounded-bl-md;
}

*::-webkit-scrollbar-track {
    @apply bg-transparent rounded-tl-md rounded-bl-md;
}

*::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
}

*::-webkit-scrollbar-thumb:active {
    @apply bg-gray-800;
}

.modal::-webkit-scrollbar,
.dialog::-webkit-scrollbar,
[role='dialog']::-webkit-scrollbar,
.overflow-auto::-webkit-scrollbar,
.overflow-y-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar {
    @apply h-auto w-2 !important;
}

.modal::-webkit-scrollbar-thumb,
.dialog::-webkit-scrollbar-thumb,
[role='dialog']::-webkit-scrollbar-thumb,
.overflow-auto::-webkit-scrollbar-thumb,
.overflow-y-auto::-webkit-scrollbar-thumb,
.overflow-x-auto::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-tl-md rounded-bl-md !important;
}

.modal::-webkit-scrollbar-track,
.dialog::-webkit-scrollbar-track,
[role='dialog']::-webkit-scrollbar-track,
.overflow-auto::-webkit-scrollbar-track,
.overflow-y-auto::-webkit-scrollbar-track,
.overflow-x-auto::-webkit-scrollbar-track {
    @apply bg-transparent rounded-tl-md rounded-bl-md !important;
}
